&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&p25q16h {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		ext_storage_partition: partition@0 {
			label = "ext-storage";
			reg = <0x00000000 0x00200000>;
		};
	};
};
